[submodule "my-packages/cbr"]
	path = my-packages/cbr
	url = git@codeberg.org:m3xan1k/cbr.el
[submodule "my-packages/g-trans"]
	path = my-packages/g-trans
	url = git@codeberg.org:m3xan1k/g-trans.el
[submodule "thirdpart/surround"]
	path = thirdpart/surround
	url = git@codeberg.org:m3xan1k/surround.git
