*
!*/

!.gitignore
!init.el
!custom.el
!helpers.el
!early-init.el
!after-init.org
!my/
!my/*
!my-packages/
!my-packages/*
# my-packages/*

!thirdpart/*

straight/*
!straight/versions/
!straight/versions/default.el
