*
!*/

!.gitignore
!init.el
!early-init.el
!after-init.org
!my/
!my/*
!my-packages/
!my-packages/*
# my-packages/*
!thirdpart/
!thirdpart/*

straight/*
!straight/versions/
!straight/versions/default.el
